.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft,
.loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginBox {
    height: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 0px 21px 0px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 1px 0px 21px 0px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 1px 0px 21px 0px rgba(0, 0, 0, 0.47);
    margin: 30px 0;
    align-items: center;
}


.loginInput:focus {
    outline: none;
}