* {
    margin: 0;
    font-family: 'Onest', sans-serif;
}

body {
    overflow: scroll;
}

.topbarContainer {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.whiteTopbar {
    background: rgba(255, 255, 255, 0.7);
}

.gradientTopbar {
    background: linear-gradient(163deg, rgb(54, 140, 143) 0%, rgb(69, 142, 197) 29%, rgb(75, 91, 162) 70%, rgb(13, 148, 130) 98%);

}

.topbarLeft {
    flex: 3;
}

.whiteLogo {
    font-size: 24px;
    font-weight: 900;
    margin-left: 20px;
    color: rgba(79, 146, 196, 1);
}

.logo {
    font-size: 24px;
    font-weight: 900;
    margin-left: 20px;
    color: rgb(255, 255, 255);
}

.searchbar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;

}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput {
    border: none;
    width: 70%;

}

.searchInput:focus {
    outline: none;
}

.topbarRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 10px;

}

.topbarIcons {
    display: flex;
}

.topbarIconItem {
    margin: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: rgb(131, 3, 3);
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbarLinks {
    display: flex;
    margin: 15px;
}

.topbarLink {
    margin-right: 10px;
    cursor: pointer;
}

.topbarLinks a {
    font-size: 15px;
    font-weight: 100;
}

.topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    background-color: white;
    margin: 15px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 100px;
}

.topbarLinks .testButton {
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color: #5353f7;
    text-align: center;
    font-size: 16px;
    padding: 2px;
    width: 100vw;
    max-width: 100px;
    transition: all 0.5s;
    margin: 0;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.topbarLinks .testButton:after {
    content: '»';
    position: absolute;
    opacity: 0;
    bottom: 10%;
    right: -20px;
    transition: 0.5s;
}