.usersListContainer {
    flex: 9;
}

.usersListWrapper {
    padding-top: 20px;
    padding-right: 40px;
}

.usersListItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 1px 0px 21px 0px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 1px 0px 21px 0px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 1px 0px 21px 0px rgba(0, 0, 0, 0.47);
    margin: 10px 0;
    transition: background-color 0.3s ease;
    /* Animation for smooth color transition */

}

.usersListItem:hover {
    background-color: #cfcfcf;
    /* Change this to your desired hover color */
}

.highlighted {
    background-color: #9891c7;
    /* Highlight color, change as needed */
}


.userRank {
    font-weight: bold;
    margin-right: 10px;
    /* Add spacing between rank and profile picture */
}

.userImage {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}



.itemRight {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.userGeneralMark {
    font-size: 1.2em;
    color: #000000;
}