.usersListContainer {
    flex: 9;
}

.usersListWrapper {
    padding-top: 20px;
    max-width: 700px;
    margin: auto;
}

.usersList {
    padding: 5px;
}

.usersListItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 1px 0px 21px 0px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 1px 0px 21px 0px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 1px 0px 21px 0px rgba(0, 0, 0, 0.47);
    margin: 10px 0;
    transition: all 0.3s;
    /* Animation for smooth color transition */

}

.usersListItem:hover {
    background-color: #cfcfcf;
    transform: scale(1.02);
    /* Change this to your desired hover color */
}

.gold {
    background: linear-gradient(to right bottom, rgb(120, 53, 15), rgb(253, 224, 71));
    color: white;
}

.silver {

    background: linear-gradient(to left, rgb(156, 163, 175), rgb(107, 114, 128), rgb(75, 85, 99));
    color: white;
}

.bronze {
    background: linear-gradient(to right, rgb(194, 65, 12), rgb(251, 146, 60), rgb(234, 88, 12));
    color: white;
}

.highlighted {
    border: 3px solid #5ca1e1;
    /* Highlight color, change as needed */
}


.userRank {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    /* Add spacing between rank and profile picture */
}

.userImage {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}



.itemRight {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.userName {
    font-size: 1.2em;
    font-weight: 400;
}

.listFlag {
    margin-left: 5px;
    border-radius: 50%;
}

.userGeneralMark {
    font-size: 1.2em;
    font-weight: 500;
}