* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.profile {
    display: flex;
    margin-bottom: 55px;
    justify-content: center;
}

.profileCover {
    height: 320px;
    position: relative;
}