.futCardTemplate {
    width: 500px;
    height: 700px;
    position: relative;
}

.futCardProfilePic {
    height: 45%;
    width: 45%;
    border-radius: 10px;
    position: absolute;
    bottom: 43%;
    right: 18%;
    object-fit: cover;

}

.futCardUsername {
    position: absolute;
    bottom: 37%;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 36px;
}

.futCardOrigin {
    position: absolute;
    left: 20%;
    top: 30%;
    z-index: 100;
}

.futCardAge {
    position: absolute;
    left: 22%;
    top: 40%;
    font-size: 36px;
    color: #fff;
}

.futCardMathStat,
.futCardLanguageStat,
.futCardArtStat {
    position: absolute;
    left: 27%;
    font-size: 36px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 43%;
}

.futCardMathStat {
    bottom: 28%;
}

.futCardLanguageStat {
    bottom: 22%;
}

.futCardArtStat {
    bottom: 16%;
}

.futCardOverall {
    position: absolute;
    left: 19%;
    top: 16%;
    font-size: 72px;
    color: #fff;
}