/* QuizStyles.css */
.testWrapper {
    padding: 20px 5px 0 5px;
    max-width: 600px;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

.question-container {

    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.startButton {
    width: 100%;
    margin: 3em;
}

.option-container {
    display: block;
    background-color: #f5f5f5;
    border: 1px solid #e1e1e1;
    padding: 10px 15px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, color 0.5s;
}

.option-container:hover {
    background-color: #ddd;
    transform: scale(1.1);
}

.option-container input[type="radio"] {
    display: none;
}

.option-container.selected {
    background-color: #5ca1e1;
    color: white;
    border: 1px solid #b0b0b0;
    transform: scale(1.1);
}


input[type="radio"] {
    margin-right: 10px;
}

.fade-out {
    opacity: 0;
}

.finalMessage {
    width: 100%;
    text-align: center;
    margin: 20px;
}

.finalMessage h2 {
    color: #5ca1e1;
}

.testButton {
    border-radius: 4px;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 16px;
    width: 100vw;
    max-width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 24px 0;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.testButton {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.testButton:after {
    content: '»';
    position: absolute;
    opacity: 0;
    bottom: 32%;
    right: -20px;
    transition: 0.5s;
}

.testButton:hover {
    padding-right: 24px;
    padding-left: 8px;
}

.testButton:hover:after {
    opacity: 1;
    right: 10px;
}